body{
  background:#020617;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.carousel{
  display:flex;
  align-items:center;
  gap:10px;
}

img{
  width:280px;
  height:180px;
  object-fit:cover;
  border-radius:10px;
}

button{
  padding:8px 12px;
  cursor:pointer;
}
